doctype html
html
  head
    title=`${title} | ${siteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    block header
      header
        h1 Here's the default header.

    block content
      h2 This is the default content.