doctype html
html
  head
    title=`${title} | ${siteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/style.css')

  body

    block nav
      nav
        a(href='/') Home
        a(href='/record') Record

    block header
      header
        h1 Overwatch Stat Tracker

    block content
      h2 This is the default content.