extends layout

block content
  form
    .hero-select
      button Ana
      button Bastion
      button D.Va
      button Doomfist
      button Genji
      button Hanzo
      button Junkrat
      button Lucio
      button Mei
      button Mei